#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  max-width: 50%;
  height: auto;
  margin-top: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.button {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  background-color: #8c52ff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: #683cff;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.full-width-image {
  width: 100%; /* Adjust width as needed */
  height: 100%; /* Adjust height as needed */
  object-fit: cover; /* Ensure image fills the container */
}